.navbar{
  color:black !important;
  width: 180%;
}

.toolbar {
  margin-left: 100px;
  align-content: left;
}


.alignr {
  margin-right: 200px;
}


.logo {
  background-image: url(../assets//img/edomex.png);
}


.escudo {

  margin-left: 19%;
  margin-bottom: 600px;
  margin-top: 150px;
  background-repeat: no-repeat;
  height: 500px;
}


a {
  color: var(--blue);
  transition: all 0.3s ease;
}

a:hover {
  color: var(--lgt-blue);
}

a:focus {
  outline: none;
  background-color: var(--lgtr-blue);
}

a:active {
  color: var(--drk-blue);
}

button {
  display: block;
  padding: 12px 38px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: var(--white);
  background-color: rgb(98, 110, 101);
  border: 2px solid var(--lgt-blue);
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

button:hover {
  color: var(--lgt-blue);
  border-color: var(--lgt-blue);
}

button:active {
  color: var(--drk-blue);
  border-color: var(--drk-blue);
}

button:focus {
  outline: none;
  background-color: var(--lgtr-blue);
}

form {
  width: 100%;
}

label {
  display: block;
  font-size: 16px;
  color: var(--black);
  width: 100%;
}

input[type="text"] {
  padding: 10px 16px;
  font-size: 16px;
  color: var(--black);
  background-color: #fff;
  border: 1px solid #597183;
  border-radius: 8px;
  margin-top: 5px;
  width: 100%;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  background-color: var(--lgtr-blue);
}

/* For Demo */

body {
  height: 100vh;
  margin: 0;
  padding: 2rem;
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  font: 16px/1.4 system-ui, -apple-system, sans-serif;
}

* {
  box-sizing: border-box;
}
